#logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 90px;
}
body {
    background-image: url("../img/terms-background.png");
}
p {
    width: 70%;
}
ol li {
    width: 70%;
    margin-bottom: 20px;
}
